*::selection {
    background: #fcfc92;
    color: black;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 3rem;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background-color: hsl(210, 20%, 98%);
}

#header a{
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

#header a:hover {
    text-decoration: underline;
}

#header #logo {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 2rem;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#home img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 1rem;
}

#home p {
    font-size: 1.2rem;
    text-align: center;
}

#socials a {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.5rem;
}

.two-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
}

.two-column  p{
    margin-top: -1rem;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

button:focus {
    outline: none;
}